$breakpoints: (
  "sp": "screen and (max-width: 480px)",
  "tab": "screen and (max-width: 768px)",
  "pc": "screen and (max-width: 1024px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*******************************
共通パーツの指定
*******************************/
.u-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 100px;
  @include mq(tab) {
    padding: 0;
  }
}

.u-sectionHeading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 36px;
  @include mq(sp) {
    margin-bottom: 18px;
  }
}

.u-sectionTitle {
  font-weight: 500;
  font-size: 32px;

  @include mq(tab) {
    font-size: 24px;
  }
}

.u-sectionDetail {
  font-size: 16px;
}

.u-newsTopImg {
  width: 100%;
  max-width: 640px;
  height: auto;
  margin-bottom: 12px;
}

.u-newsBottomImg {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.u-newsDate {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.u-newsTitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 6px;
}

.u-newsTopDetail {
  max-width: 640px;
  font-size: 15px;
  letter-spacing: 0.06em;
}

.u-newsBottomDetail {
  max-width: 354px;
  font-size: 15px;
  letter-spacing: 0.06em;
}

.u-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.u-arrow {
  width: 24px;
  height: 24px;
}

/* 共通部品 */
html {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #382710;
  background-color: #fcfaf2;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

/*******************************
変数の指定
*******************************/
$accentColor: #d4cdb3;

/* ここから記述します。 */
/*******************************
header
*******************************/
.header {
  width: 100%;
}

.header__inner {
  max-width: 1080px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(tab) {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.header__logo {
  @include mq(tab) {
    width: 120px;
    height: auto;
    margin: 11px 30px;
  }
}

.header__nav {
  @include mq(tab) {
    background-color: #f4eed8;
    width: 100%;
  }
}

.header__list {
  display: flex;
  gap: 20px;
  @include mq(tab) {
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
  }
}

.header__menuLink {
  font-size: 16px;
  @include mq(tab) {
    font-size: 14px;
  }
}

/*******************************
fv
*******************************/
.firstView__inner {
  width: 100%;
  position: relative;
}

.firstView__img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  @include mq(tab) {
    height: 240px;
  }
}

.firstView__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 580px;
  text-align: center;
  font-size: 40px;
  background-color: #fffdf7;
  opacity: 0.9;
  padding: 8px 32px;
  @include mq(tab) {
    width: 302.75px;
    font-size: 22px;
    padding: 2.34px 9.37px;
  }
}

.firstView__title span {
  font-weight: 500;
}

/*******************************
container
*******************************/
.container {
  margin: 64px auto;
  display: flex;
  gap: 40px;
  @include mq(pc) {
    flex-direction: column;
    gap: 50px;
  }
  @include mq(tab) {
    margin: 50px 15px;
  }
}

/*******************************
main
*******************************/
.main {
  display: flex;
  flex-direction: column;
  gap: 56px;
  @include mq(sp) {
    gap: 40px;
  }
}

/*******************************
news
*******************************/
.news__top {
  margin-bottom: 42px;
}

.news__bottom {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  @include mq(sp) {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
}

/*******************************
special
*******************************/
.special {
  @include mq(sp) {
    margin-bottom: 30px;
  }
}
.special__top {
  margin-bottom: 42px;
}

.special__bottom {
  display: flex;
  gap: 24px;
  margin-bottom: 42px;
  @include mq(sp) {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
}

.special__other--link {
  font-size: 15px;
}

/*******************************
aside
*******************************/
.aside {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 300px;
  @include mq(pc) {
    max-width: 1024px;
  }
  @include mq(pc) {
    gap: 41px;
  }
}

/*******************************
category
*******************************/
.category__top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 16px;
}

.category__heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category__descr {
  font-size: 14px;
}

.category__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-bottom: 24px;
  @include mq(pc) {
    width: 100%;
    max-width: 1024px;
    height: auto;
  }
}

.category__btn {
  border: 1px solid $accentColor;
  border-radius: 5px;
}

.category__btn--link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category__img {
  width: 100%;
  height: auto;
  padding: 10.5px 6px 6px;
}

.category__name {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 10.5px;
}

.category__search {
  width: 100%;
  border: 1px solid $accentColor;
  border-radius: 3px;
  display: flex;
  margin-bottom: 24px;
}

.category__search--input {
  width: calc(100% - 54px);
  background-color: #ffffff;
  padding: 10px;
}

.category__search--btn {
  width: 54px;
  background-color: #fff2bf;
  text-align: center;
}

.category__search--img {
  width: 100%;
  height: auto;
}

/*******************************
popular
*******************************/

.popular__allNews {
  margin: 12px 0 16px;
  @include mq(sp) {
    margin: 14px 0 37.7px;
  }
}

.popular__list {
  width: 100%;
  border-top: 1px solid $accentColor;
}

.popular__item {
  display: flex;
  gap: 20px;
  width: 300;
  height: 48;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid $accentColor;
  padding: 14px 0;
  @include mq(sp) {
    font-size: 16px;
  }
}

/*******************************
facebook
*******************************/

.facebook__heading {
  display: flex;
  gap: 4px;
}

.facebook__img {
  width: 47px;
  height: 47px;
}

.facebook__allPosts {
  margin: 12px 0;
  @include mq(sp) {
    margin: 13.8px 0;
  }
}

iframe {
  width: 100%;
}

/*******************************
footer
*******************************/
.footer__contents {
  display: flex;
  justify-content: center;
  gap: 160px;
  padding: 42px;
  background-color: #ffffff;
  @include mq(pc) {
    gap: 80px;
  }
  @include mq(tab) {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 48px 30px 14px;
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__catch,
.footer__copy {
  font-size: 14px;
}

.footer__menu {
  display: flex;
  gap: 160px;
  @include mq(pc) {
    gap: 80px;
  }
  @include mq(tab) {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__title {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #b2572f;
  padding-bottom: 4px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.footer__item {
  font-size: 16px;
}
